body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
}

.container {
    text-align: center;
    background-color: gray;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(28, 169, 25);
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.password-box {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.options {
    display: flex;
    flex-direction: column;
}

.criteria, .character-types {
    text-align: left;
    margin-bottom: 10px;
}

.criteria label, .character-types label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #00ff0d;
}
